@mixin before_circle {
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background-color: $secondcolor;
        z-index: -1;
    }
}

@mixin before_circle_light {
    @include before_circle;
    &::before {
        background-color: $secondlite;

    }
}

@mixin center_blocks {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        h2.title::after {
            margin: 15px auto;
        }
    }
}

@mixin smallcircle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: $secondcolor;
}