.hamburger {
    width: 36px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 9px;
    left: 9px;
    cursor: pointer;
    z-index: 1000;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #151812;
        transition: all 0.5s;
    }
    .long {
        width: 36px;
    }
    &.open span {
        background-color: #fff;
        width: 36px;
        &.long {
            display: none;
        }
        &.first {
            transform: rotate(45deg) translate(8px, 10px);
            // transform: translateY(10px);
        }
        &.second {
            transform: rotate(-45deg) translate(2px, -5px);
            // transform: translateY(-10px);
        }
    }

}
.menu {
    &__block {
        position: absolute;
        // display: none;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 300px;
        padding: 140px 40px 50px 40px;        
        background-color: $maincolor; 
        opacity: 0;
        visibility: hidden;
        z-index: 999;
        transition: all 0.6s;
        &.active {
            visibility: visible;
            left: 0;
            opacity: 1;
        }    
        li {
            list-style-type: none;
            margin-bottom: 15px; 
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: -25px;
                top: calc(50% - 5px);
                width: 10px;
                height: 10px;
                border: 2px solid #fff;
                border-radius: 100%;
                transform: skew(179deg, 322deg);
                transition: 0.5s;
            }
            &:hover {
                &::before {
                    background-color: #fff;
                }
            }
        }
        a {
            color: #fff; 
            text-decoration: none;
            font-weight: 300;
            font-size: 21px;
            line-height: 36px;
            text-transform: uppercase;
        }
    }
    &__overlay {
        height: 100vh;
        width: 100vw;
        position: absolute;
        background-color: #fff;
        z-index: 10;
        opacity: 0;
        // display: none;
        visibility: hidden;
        transition: all 0.4s;
        &.active {
            // display: block;
            visibility: visible;
            opacity: 0.8;
        }
    }
}