.promo {
    height: 100vh;
    min-height: 500px;
    position: relative;
    background: #FAE2E2 url("../images/itsme.png") 80% 100%/contain no-repeat;
    padding: 60px 80px;
    &__logo {
        max-width: 300px;
    }
    &__und {
        margin-top: 100px;
    }
    &__links {
        margin-top: 45px;
        display: flex;
        justify-content: start;
        align-items: center;

    }
    &__title {
        color: #490b37;
        text-transform: uppercase;
        margin-top: 9px;
        max-width: 530px;
        font-weight: 600;
    }
    &__soclinks {
        position: absolute;
        top: 50%;
        left: 50%;
        background-color: white;
        border-radius: 100%;
        border-right: 0.1rem dashed;
        width: 65px;
        height: 62px;
        transition: transform 0.5s;

        &:hover {
            @media (min-width: 768px) {
                transform: translate(3px, -3px);                  
            }
        }

        &_telegr {
            top: calc(50% - 100px);
            left: calc(50% + 100px);;
        }
    }

}